      p {
        margin-top: 4px;
        margin-bottom: 4px;
        font-family: 'Arial';
      }
      .profile {
        width: 150px;
      }
      .picture {
        width: 60px;
        height: 60px;
        border-radius: 100px;
        object-fit: cover;
        display: inline-block;
        vertical-align: top;
      }
      .description {
        display: inline-block;
        vertical-align: top;
        margin-left: 10px;
      }
      .type {
        color: gray;
      }